.idea
.vscode
.DS_Store
package.zip
node_modules
*.tsbuildinfo
dev
dist
build
.vitest-attachments/
src/**/__screenshots__/
tmp
temp.txt
siyuan-*/
sy*
release-note.md
ref/
public/i18n/zh-CN.json
public/i18n/en.json
src/translations/en.ts
src/translations/zh-CN.ts
