only-built-dependencies[]=@ibm/plex
only-built-dependencies[]=@iflow-ai/iflow-cli
only-built-dependencies[]=node-pty
only-built-dependencies[]=opencode-ai
only-built-dependencies[]=sharp
only-built-dependencies[]=esbuild
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=core-js
only-built-dependencies[]=es5-ext
